* {
  margin-left: 0;
  padding: 0;
}
body {
  font-size: 100%;
  font-family: Arial;
  width: 100%;
  background: url(images/SCconstruction.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}
header {
  background-color: #ED6C26;
  width: 100%;
  position: fixed;
  top: 0;
  height: 3.5em;
  float: right;
}
h1 {
  position: absolute;
  top: -0.35em;
  left: 1em;
}
.menuList {
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  top: -1em;
  right: 0;
}
.menuButton {
  float: left;
}
.menuButton:hover {
  background-color: White;
}
.menuButton a {
  font-weight: bold;
  display: block;
  color: Black;
  text-align: center;
  padding: 1.2em 1.5em;
  text-decoration: none;
}
.outer {
  width: 60%;
  margin: 0.5em 5em;
  position: relative;
  top: 1em;
  z-index: -1;
}
.inner {
  width: 100%;
  background-color: White;
  margin: 0.5em auto;
  padding-top: 3.5em;
  padding-bottom: 1em;
  padding-right: 3em;
  padding-left: 3em;
  position: relative;
  top: 3em;
}
.article {
  font-weight: normal;
}
.articleHeader {
  width: 100%;
  position: absolute;
  left: 0em;
  top: 0.7em;
  width: 100%;
  background-color: #ED6C26;
  height: 2.3em;
}
.articleTitle {
  display: inline-block;
  position: absolute;
  top: -0.65em;
  left: 2em;
}
.authDate {
  width: 20%;
  display: inline-block;
  position: absolute;
  right: 0em;
  top: -0.2em;
}
.author {
  display: inline-block;
}
.date {
  display: inline-block;
}
