* {
  margin-left: 0;
  padding: 0;
}
body {
  font-size: 100%;
  font-family: Arial;
  width: 100%;
  background: url(images/SCconstruction.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}
@media only screen (max-width: 80em ) {
  .topnav {
    display: none;
  }
  .container {
    display: inline-block;
  }
}
header {
  width: 100%;
  background-color: #ED6C26;
  position: fixed;
  top: 0;
  height: 3em;
}
h1 {
  position: absolute;
  top: -0.5em;
  left: 0.5em;
}
.topnav {
  width 100%
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 3.8em;
}
.topnav a {
  position: relative;
  top: 0em;
  height: 1.25em;
  min-width: 6vw;
  float: left;
  text-align: center;
  padding: 0em 1em;
  padding-bottom: 0.75em;
  padding-top: 1em;
  color: Black;
  text-decoration: none;
  font-weight: bold;
}
.topnav a:hover {
  background-color: White;
}
.container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0em;

  padding-top: 0.4em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  }
.container:hover {
  background-color: White;
}
.bar1, .bar2, .bar3 {
  width: 1.8em;
  height: 4px;
  background-color: Black;
  margin: 0.39em 0;
}
.outer {
  width: 60%;
  margin: 1vh 10vw;
  position: relative;
  top: 1.5vh;
  z-index: -1;
}
.inner {
  width: 100%;
  background-color: White;
  margin: 0.5em auto;
  padding-top: 5em;
  padding-bottom: 2em;
  padding-right: 3em;
  padding-left: 3em;
  position: relative;
  top: 5vh;
  margin-bottom: 5vh;
}
.article {
  font-weight: normal;
}
.articleHeader {
  width: 80%;
  position: absolute;
  left: 0em;
  top: 2em;
  background-color: #ED6C26;
  height: 2.4em;
}
.articleTitle {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: -0.6em;
  left: 2em;
}
.authDate {
  width: 100%;
  display: inline-block;
  position: absolute;
  right: 2em;
  top: -0.2vh;
  text-align: right;
}
.author {
  display: inline-block;
}
.date {
  display: inline-block;
}
